@import "../../../stylesheets/variables/_all";

.modal {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: ($line-height-computed / 2) $line-height-computed;
}

.content {
  overflow: auto;
  color: $color-text;
  font-weight: normal;
  padding: $line-height-computed 0;
}

.header {
  display: flex;
  padding: $line-height-computed 0;
  border-bottom: $border-size solid $color-gray-lighter;
  flex-shrink: 0;
}

.actions {
  flex: 0 1 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @extend %text-elipsis;
  flex: 1;
  margin: 0;
  font-weight: 400;
}

%btn {
  flex: 0 1 48%;
}

dismiss,
.confirm {
  @extend %btn;
}

.confirm {
  border: none;
  overflow: visible;
  position: relative;
  display: inline-block;
  background-color: $color-primary;
  background-image: $color-primary;
  transition: background-color .2s linear;
  cursor: pointer;
  color: $color-white;

  &:hover{
    border-color: darken($color-primary, 10%);
    background: darken($color-primary, 10%);
    background-color: darken($color-primary, 10%);
  }

  &:focus {
    &:hover {
      border-color: darken($color-primary, 10%);
      background: darken($color-primary, 10%);
      background-color: darken($color-primary, 10%);
    }
  }

  &,
  &:active {
    &:focus {
      outline: none;
      border-color: $color-primary;
      background: $color-primary;
      background-color: $color-primary;
    }
  }

  &:active {
    border-color: lighten($color-primary, 10%);
    background: lighten($color-primary, 10%) !important;
    background-image: lighten($color-primary, 10%) !important;
    box-shadow: inset 0 1px 1px 1px darken($color-primary, 10%);
  }

  &:focus::before {
    position: absolute;
    top: calc(.1em - .25em - .25em);
    left: calc(.1em - .25em - .25em);
    right: calc(.1em - .25em - .25em);
    bottom: calc(.1em - .25em - .25em);
    border: 3px solid $color-primary;
    border-radius: calc(.1em + .2em + .2em);
    content: '';
  }
}

.dismiss {
  border: none;
  color: $color-gray;
  overflow: visible;
  position: relative;
  display: inline-block;
  background-color: $color-white;
  background-image: $color-white;
  transition: background-color .2s linear;
  cursor: pointer;

  &:hover{
    border-color: $color-primary !important;
    background: $color-primary !important;
    background-color: $color-primary !important;
    color: $color-white !important;
  }

  &:focus {
    &:hover {
      border-color: $color-primary !important;
      background: $color-primary !important;
      background-color: $color-primary !important;
      color: $color-white !important;
    }
  }

  &:focus {
    border-color: $color-white !important;
    background: $color-white !important;
    background-color: $color-white !important;
    color: $color-gray !important;
  }

  &,
  &:active {
    &:focus {
      outline: none;
    }
  }

  &:active {
    border-color: $color-primary;
    background: lighten($color-primary, 10%) !important;
    background-image: $color-primary !important;
    box-shadow: inset 0 1px 1px 1px darken($color-primary, 10%);
    color: $color-white !important;
  }

  &:focus::before {
    position: absolute;
    top: calc(.1em - .25em - .25em);
    left: calc(.1em - .25em - .25em);
    right: calc(.1em - .25em - .25em);
    bottom: calc(.1em - .25em - .25em);
    border: 3px solid $color-primary;
    border-radius: calc(.1em + .2em + .2em);
    content: '';
  }
}
