@import "../../stylesheets/variables/_all";

.table{
  margin-left:auto; 
  margin-right:auto;
}

.table, .th, .td {
  border: $border-size solid $color-gray-lighter;
  padding: $sm-padding-x;
  border-collapse: collapse;
}

.th {
  text-align: center;
  padding: $sm-padding-x;
}

